.lineTwo {
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 400;
  font-size: 5.1875rem;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
  text-wrap: nowrap;
  width: 100vw;
  overflow-x: hidden;
}

.lineTwoBottomLine {
  background-color: #fff;
  height: 2px;
  width: 100vw;
  margin-top: 1rem;
}