.lineTwoContainer {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.lineTwoTrack {
  display: flex;
  width: max-content;
  flex-direction: row-reverse;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #fff;
}

.lineTwoText {
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 400;
  font-size: 5.1875rem;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .lineTwoTrack {
    padding-bottom: 0.5rem;
  }

  .lineTwoText {
    font-size: 2.1875rem;
  }
}
