.title {
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 500;
  font-size: 6.875rem;
  line-height: 6rem;
  letter-spacing: -0.05em;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.titleSecondLine {
  display: block;
  text-align: left;
  margin-left: -4.5rem;
}

.bgtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 900;
  font-size: 21.875rem;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--shadow-text);
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  z-index: -1;
  margin-top: 6rem;
}

.heroTextHidden {
  opacity: 0;
  transform: translateY(100px); // para o primeiro span
}

.heroTextHiddenSecond {
  opacity: 0;
  transform: translateY(-50px); // para o segundo span
}

.bgtextHidden {
  opacity: 0;
}
