.title {
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 500;
  font-size: 6.875rem;
  line-height: 6rem;
  letter-spacing: -0.05em;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}

.titleSecondLine {
  display: block;
  text-align: left;
  margin-left: -4.5rem;
}

.bgtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 21.875rem;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--shadow-text);
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  z-index: -1;
  margin-top: 6rem;
}

.bgtextMobile1 {
  position: absolute;
  top: -94px;
  right: -188px;
  transform: translate(-50%, -50%);
  font-size: 9.375rem;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: var(--shadow-text);
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  z-index: -1;
  margin-top: 6rem;
  display: none;
}

.bgtextMobile2 {
  position: absolute;
  top: 52px;
  right: -120px;
  transform: translate(-50%, -50%);
  font-size: 9.375rem;
  font-weight: 800;
  letter-spacing: -0.01em;
  color: var(--shadow-text);
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  text-align: center;
  z-index: -1;
  margin-top: 6rem;
  display: none;
}

.heroTextHidden {
  opacity: 0;
  transform: translateY(100px);
}

.heroTextHiddenSecond {
  opacity: 0;
  transform: translateY(-50px);
}

.bgtextHidden {
  opacity: 0;
}

@media (max-width: 359px) {
  .bgtextMobile1 {
    top: -90px;
    right: -116px;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -0.01em;
    color: var(--shadow-text);
    pointer-events: none;
  }

  .bgtextMobile2 {
    top: 12px;
    right: -72px;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -0.01em;
  }
}

@media (max-width: 1280px) {
  .title {
    font-size:  64px;
    font-weight: 400;
    line-height: 116px;
    letter-spacing: -0.05em;
  }

  .titleSecondLine {
    margin-left: -36px;
    line-height: 0;
  }

  .bgtext {
    font-size: 200px;
    margin-top: 80px;
  }
}

@media (max-width: 736px) {
  .title {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 4.8125rem;
    letter-spacing: -0.05em;
  }

  .titleSecondLine {
    margin-left: -12px;
    line-height: 0;
  }

  .bgtext {
    display: none;
  }

  .bgtextMobile1 {
    display: block;
  }

  .bgtextMobile2 {
    display: block;
  }
}
