.lineOneContainer {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.lineOneTrack {
  display: flex;
  width: max-content;
  flex-direction: row-reverse;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #fff;
}

.lineOneText {
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 400;
  font-size: 5.1875rem;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  margin-right: 4rem;
}

.lineTwoTrack {
  display: flex;
  width: max-content;
}
