.lineOneContainer {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.lineOneTrack {
  display: flex;
  width: max-content;
  flex-direction: row-reverse;
}

.lineOneText {
  font-family: "Gotham HTF", Arial, sans-serif;
  font-weight: 400;
  font-size: 5.1875rem;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  margin-right: 4rem;
}

.lineOneBottomLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

.lineTwoTrack {
  display: flex;
  width: max-content;
}
