.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  min-height: 100vh;
  padding-top: 2rem;

  .introBottomLines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: -12rem;
  }
}

@media (max-width: 480px) {
  .intro {
    gap: 0.3rem
  }
}