.imageContainer {
  width: 100%;
  max-width: 1495px;
  margin: 0 auto;
  will-change: clip-path;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

@media (max-width: 480px) {
  .image {
    display: none;
  }
}
