.faq {
  width: 100%;
  max-width: 2000px;
  padding: 4rem 13.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6.5rem;

  .faqHeader {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    .faqTitle {
      font-size: 5.75rem;
      font-weight: 400;
      color: #fff;
      margin-left: -0.5rem;
    }

    .faqSubtitle {
      font-size: 1.375rem;
      font-weight: 300;
      color: var(--primary);
    }
  }

  .faqGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 4rem;
    .faqItem {
      display: flex;
      flex-direction: column;
      min-width: 260px;
      min-height: 10rem;
      padding: 0;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      transition: color 0.2s;
      user-select: none;

      .faqQuestion {
        color: #8a959b;
        font-weight: 500;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        padding-top: 3rem;
        padding-bottom: 0.5rem;
        width: 100%;
        transition: color 0.2s, font-weight 0.2s;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0.8rem;
          left: 0;
          width: 16%;
          height: 2px;
          background: #949b99;
          border-radius: 1px;
          transition: width 0.5s, background 0.3s;
        }
      }

      .faqAnswer {
        opacity: 0;
        font-size: 1.125rem;
        font-weight: 400;
        text-align: left;
        color: #8a959b;
        transition: opacity 0.3s;
        margin-top: 0.5rem;
        width: 100%;
      }
    }

    .active {
      .faqQuestion {
        color: #fff;

        &::before {
          width: 100%;
          background: var(--primary);
        }
      }
      .faqAnswer {
        opacity: 1;
        color: #8a959b;
      }
    }
  }

  .faqMobile {
    display: none;
    flex-direction: column;
    gap: 3rem;

    .faqItem {
      display: flex;
      flex-direction: column;
      color: #fff;
      position: relative;

      .faqQuestion {
        background: none;
        border: none;
        color: #8a959b;
        width: 100%;
        text-align: left;
        font-family: "Gotham HTF", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
        padding: 0.75rem 0;
        cursor: pointer;
        outline: none;
        transition: color 0.2s;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -1rem;
          left: 0;
          width: 16%;
          height: 2px;
          background: #949b99;
          border-radius: 1px;
          transition: width 0.5s, background 0.3s;
        }
      }

      &.open .faqQuestion::before {
        width: 100%;
        background: var(--primary);
      }

      &.open .faqQuestion {
        color: #fff;
      }

      .faqAnswer {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        font-size: 1.125rem;
        font-weight: 400;
        text-align: left;
        color: #8a959b;
        margin-top: 0.5rem;
        width: 100%;
      }

      &.open .faqAnswer {
        max-height: 500px;
        opacity: 1;
        color: #949b99;
      }
    }
  }
}

@media (max-width: 1280px) {
  .faq {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    .faqHeader {
      width: 100%;

      .faqTitle {
        font-size: 3.25rem;
      }
      .faqSubtitle {
        font-size: 18px;
        margin-left: -0.3rem;
      }
    }

    .faqGrid {
      display: none;
    }

    .faqMobile {
      display: flex;
      padding-bottom: 6rem;
    }
  }
}

@media (min-width: 2560px) {
  .faq {
    max-width: 100%;
  }
}
