.faq {
  width: 100%;
  height: 100vh;
  padding: 13.25rem;

  display: flex;
  flex-direction: column;
  gap: 6.5rem;

  .faqHeader {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .faqTitle {
    font-size: 5.75rem;
    font-weight: 400;
    color: #fff;
  }

  .faqSubtitle {
    font-size: 1.375rem;
    font-weight: 300;
    color: var(--primary);
  }

  .faqList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
  }

  .faqItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .faqQuestion {
    font-size: 1.375rem;
    font-weight: 400;
    color: #fff;
  }

  .faqAnswer {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text);
  }
}
