.navbar {
  width: 100%;
  background-color: var(--header-background);
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
