.courses {
  width: 100%;
  max-width: 2000px;
  min-height: 100vh;

  padding: 13.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 6.5rem;

  .coursesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .coursesTitle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.2rem;

    .coursesTitleText {
      font-size: 5.75rem;
      font-weight: 400;
      color: #fff;
      margin-left: -0.5rem;
    }

    .coursesTitleSubtext {
      font-size: 1.375rem;
      font-weight: 300;
      color: var(--primary);
    }
  }

  .categoriesList {
    display: flex;
    gap: 6.125rem;

    .category {
      background: none;
      border: none;
      box-shadow: none;
      color: #888;
      font-size: 1.0625rem;
      font-weight: 400;
      cursor: pointer;
      position: relative;
      padding: 0;
      transition: color 0.2s;
      outline: none;

      &:hover,
      &:focus {
        color: #fff;
        font-weight: 600;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -0.8rem;
        left: 0;
        width: 0;
        height: 5px;
        background: var(--primary);
        border-radius: 1px;
        transition: width 0.3s cubic-bezier(0.65, 0, 0.35, 1);
      }
    }

    .selected {
      color: #fff;
      font-weight: 600;

      &::before {
        width: 40%;
      }
    }
  }

  .categoryTitle {
    font-size: 3.4375rem;
    font-weight: 500;
    color: #fff;
  }

  .coursesList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    margin-left: 0.25rem;
    width: 50%;

    .course {
      font-size: 1.375rem;
      font-weight: 300;
      color: var(--text);
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--text);
      transition: color 0.3s ease, border-bottom 0.3s ease;

      &:hover {
        color: var(--primary);
        border-bottom: 1px solid var(--primary);

        .courseMode {
          color: var(--primary);
        }
      }

      .courseMode {
        font-size: 0.8125rem;
        font-weight: 300;
        color: var(--text);
        margin-left: 1rem;
        transition: color 0.3s ease;
      }
    }
  }
}

@media (max-width: 480px) {
  .courses {
    padding-inline: 2rem;

    .coursesHeader {
      height: 100%;
    }

    .coursesTitle {
      height: 100%;
      gap: 2.2806rem;

      .coursesTitleText {
        font-size: 3.875rem;
      }

      .coursesTitleSubtext {
        font-size: 1.375rem;
      }
    }

    .categoriesList {
      display: none;
    }

    .categoryTitle {
      display: none;
    }

    .coursesList {
      display: none;
    }
  }
}
